APP_ENV=development
DB_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/shop_api
DB_URL_SYNC=postgresql://postgres:postgres@localhost:5432/shop_api
ALLOWED_ORIGINS=http://localhost,http://127.0.0.1
ALLOWED_HOSTS=localhost,127.0.0.1
